@import './styles/variables.scss';
@import './styles/responsive.scss';
@import './styles/themes.scss';

.App {
  text-align: center;
  font-family:$body-sans;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: $black-drop;
  color:$accent-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main {
  padding-top:40px;
}

.App-link {
  color: $primary-color;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forecast-panel-menu {
  background-color:$primary-color;
  li {
    
    a {
      color:$black-drop;
      font-weight:bold;
      border-radius:18px;
      padding:8px;
    }
  }
}

.collapse:not(.show) {
  display: none;
}

.app-router-nav {
  position:fixed;
  bottom:0;
  width:100%;
  background-color:white;
  border-top: 1px solid #ccc;
  
  .forecast-panel-menu {
    margin:6px 0px;
    background-color:unset;
    text-align:center;
    padding-left:0px;
    padding:12px;
    
    li {
      display:inline-block;
      flex: 1 0 21%; /* explanation below */
       margin: 5px;
      font-weight:bold;
      margin:0px 15px;
      a {
        text-decoration:none;
        color:$black-drop;
        transition-duration: 0.7s all;
      -moz-transition-duration: 0.7s all;
      -o-transition-duration: 0.7s all;
      -webkit-transition-duration: 0.7s all;
     
      }
    }
  }
}

.day-title-container {
  h4, button {
  display:inline-block;
  }
}

.route-name-text {

 display:none;
  margin-left:10px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.active-route {
    color:lighten($blue-sky, 15%) !important;
    background-color: darken($blue-sky, 25%);
    
  
  .route-name-text {
  
    display:inline-block;
  }
}

.hourly-block-container {
  display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin-top:30px;
  .hourly-block {
    font-size:10px;
    display:inline-block;
    min-width:8.32%
  }
}